node_modules
sort_project/node_modules
StatsProject/node_modules
webFramework/mode_modules
webFramework/.cache
webFramework/dist
expressProject1/node_modules
expressProject2/node_modules
metadata/node_modules
react-typescript/node_modules
react-typescript-2/node_modules
